$text-color: black;
$hover-color: 0px 0px 3px rgb(184, 184, 184);
$light-color: white;
$boxes-color: rgb(63, 60, 62);

@mixin basic-text {
  font-weight: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

@mixin basic-background {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px rgb(184, 184, 184);
  backdrop-filter: blur(10px);
  border-radius: 1%;
}

@mixin basic-box-background {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px rgb(184, 184, 184);
  backdrop-filter: blur(10px);
  border-radius: 1%;
  width: 130px;
  height: 130px;
}

@mixin box-info-description {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin-left: 5%;
  margin-right: 6%;
  width: 100%;
}

@mixin boxes-svg {
  height: 50px;
  width: 50px;
  margin-right: 12px;
}

@mixin boxes-height-color {
  height: 12vh;
  display: flex;
  color: $boxes-color;
}

@mixin boxes-info-description-margin {
  margin-left: 40px;
}

@mixin forecast-right-part-boxes {
  @include basic-background;
  color: white;
  margin: 6% 8%;
  border-radius: 10px;
  padding: 4%;
}

@mixin forecast-right-part-boxes-svg {
  width: 50px;
  height: 50px;
}
