@import 'variables.scss';
@import 'styling/Search-page';
@import 'styling/Forecast-full';
@import 'styling/Forecast-left-top-part';
@import 'styling/Forecast-left-bottom-part';
@import 'styling/Forecast-right-top-part';
@import 'styling/Forecast-right-bottom-part';

* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// ---MEDIAS---

// Search-page media
@media screen and (max-width: 1000px) {
  .title {
    font-size: 3.5rem;
  }
  .title-info {
    font-size: 1.3rem;
  }
  .app-box {
    width: 70vw;
  }
}
@media screen and (max-width: 800px) {
  .title {
    font-size: 3rem;
  }
  .title-info {
    font-size: 1.1rem;
  }
  .app-box {
    width: 75vw;
  }
}
@media screen and (max-width: 507px) {
  .title {
    margin-left: 10%;
    margin-right: 22%;
  }
  .title-info {
    margin-left: 10%;
    margin-right: 22%;
  }
  .app-box {
    width: 90vw;
    height: 95vh;
  }
}

// Forecast-page media
@media screen and (max-width: 1650px) {
  .precipitation {
    font-size: 14px;
  }
  .visibility {
    font-size: 14px;
  }
  .pressure {
    font-size: 14px;
  }
  .sunrise {
    font-size: 20px;
  }
  .max-min-temp {
    font-size: 20px;
  }
}
@media screen and (max-width: 1600px) {
  .precipitation {
    font-size: 13px;
  }
  .forecast-container {
    font-size: 14px;
  }
  .visibility {
    font-size: 13px;
  }
  .pressure {
    font-size: 13px;
  }
}
@media screen and (max-width: 1550px) {
  .precipitation {
    font-size: 12px;
  }
  .visibility {
    font-size: 12px;
  }
  .pressure {
    font-size: 12px;
  }
  .sunrise {
    font-size: 18px;
  }
  .max-min-temp {
    font-size: 18px;
  }
}
@media screen and (max-width: 1500px) {
  .precipitation {
    font-size: 11px;
  }
  .forecast-location-details {
    height: 27vh;
  }
  .forecast-location-main-temp {
    font-size: 48px;
  }
  .forecast-location-img {
    width: 9vw;
    margin-top: 5px;
  }
}
@media screen and (max-width: 1380px) {
  .forecast-container {
    height: 85vh;
    width: 68vw;
  }
  .forecast-right-part {
    width: 22vw;
  }
  .forecast-left-part {
    max-width: 44.5vw;
    width: 100%;
  }
  .forecast-cloud-images {
    max-width: 44.5vw;
  }
  .pressure {
    height: 14vh;
  }
  .visibility {
    height: 14vh;
  }
  .precipitation {
    height: 14vh;
  }
  .forecast-location-details {
    height: 30vh;
  }
  .forecast-location-details {
    height: 27vh;
  }
  .forecast-location-main-temp {
    font-size: 50px;
  }
  .forecast-location-img {
    width: 9vw;
    margin-top: 15px;
  }
  .sunrise {
    height: 10vh;
  }
}
@media screen and (max-width: 1280px) {
  .forecast-container {
    height: 86vh;
    width: 78vw;
  }

  .forecast-cloud-images {
    max-width: 53vw;
  }

  .forecast-right-part {
    width: 23vw;
  }
  .forecast-left-part {
    max-width: 53vw;
    width: 100%;
  }

  .sunrise-sunset {
    height: 47vh;
  }

  .pressure {
    height: 14.5vh;
  }

  .visibility {
    height: 14.5vh;
  }

  .precipitation {
    height: 14.5vh;
  }

  .pressure svg {
    width: 35px;
    height: 35px;
    margin-right: 6px;
  }

  .visibility svg {
    width: 35px;
    height: 35px;
    margin-right: 6px;
  }
  .precipitation svg {
    width: 35px;
    height: 35px;
    margin-right: 6px;
  }

  .forecast-location-details {
    height: 32vh;
  }

  .forecast-location-img {
    width: 10vw;
    margin-top: 22px;
  }

  .sunrise {
    height: 10vh;
  }
}
@media screen and (max-width: 1150px) {
  .forecast-container {
    height: 89vh;
    width: 74vw;
  }
  .forecast-left-part {
    max-width: 49vw;
    width: 100%;
  }
  .pressure {
    height: 15.5vh;
  }

  .visibility {
    height: 15.5vh;
  }

  .precipitation {
    height: 15.5vh;
  }
  .sunrise-sunset {
    height: 50vh;
  }
}
@media screen and (max-height: 800px) {
  .pressure {
    height: 13.5vh;
  }
  .visibility {
    height: 13.5vh;
  }
  .precipitation {
    height: 13.5vh;
  }
  .sunrise-sunset {
    height: 44vh;
  }
}
@media screen and (max-width: 1024px) {
  .pressure {
    height: 11.5vh;
  }
  .visibility {
    height: 11.5vh;
  }
  .precipitation {
    height: 11.5vh;
    font-size: 12px;
  }
  .precipitation .box-description {
    display: none;
  }
  .visibility .box-description {
    display: none;
  }
  .sunrise-sunset {
    font-size: 12px;
  }
  .sunrise {
    font-size: 15px;
  }
  .sunset {
    font-size: 15px;
  }
  .sunrise-sunset svg {
    width: 30px;
    height: 30px;
  }
  .pressure .box-description {
    display: none;
  }
  .sunrise-sunset {
    height: 44vh;
  }
  .forecast-cloud-images {
    height: 170px;
  }
  .forecast-cloud-images img {
    width: 105px;
    height: 105px;
  }
  .feels-like svg {
    width: 35px;
    height: 35px;
  }
  .forecast-wind svg {
    width: 35px;
    height: 35px;
  }
  .forecast-humidity svg {
    width: 35px;
    height: 35px;
  }
  .forecast-right-part {
    font-size: 12px;
  }
  .sunrise-sunset {
    height: 39.5vh;
  }
}
@media screen and (max-width: 912px) {
  .forecast-container {
    width: 98.5vw;
    height: 1800px;
    flex-direction: column;
    border-radius: 0%;
  }
  .forecast-left-part {
    max-width: 100%;
  }
  .forecast-right-part {
    width: 40vw;
    top: 0;
    background: none;
    justify-content: center;
    width: 100%;
    box-shadow: none;
    backdrop-filter: none;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .forecast-input-button {
    justify-content: center;
    top: -45px;
    z-index: 3;
  }
  .forecast-input-button input {
    width: 150px;
  }
  .forecast-options-list {
    width: 225px;
    margin-left: 35%;
  }
  .forecast-cloud-images {
    max-width: 100%;
    margin-right: 4%;
    margin-left: 4%;
    height: 15vh;
    margin-top: 53%;
  }
  .forecast-cloud-images img {
    width: 130px;
    height: 130px;
  }
  .forecast-location-details {
    height: 20vw;
    background: none;
    box-shadow: none;
    border: none;
    backdrop-filter: none;
    margin-top: -120px;
    font-size: 25px;
    line-height: 35px;
  }
  .forecast-location-details img {
    width: 150px;
    height: 150px;
  }
  .forecast-location-right {
    display: none;
  }
  .forecast-location-img {
    margin-bottom: 10px;
  }
  .feels-like {
    width: 21vw;
    height: 10vh;
    margin-top: 70px;
    background: none;
    position: absolute;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .feels-like .box-container {
    width: 100%;
  }
  .feels-like .box-img-title {
    text-align: center;
  }
  .feels-like svg {
    width: 60px;
    height: 60px;
  }
  .feels-like .box-info {
    font-size: 25px;
  }
  .feels-like .box-description {
    display: none;
  }
  .forecast-wind {
    width: 21vw;
    height: 10vh;
    margin-top: 70px;
    right: 29%;
    background: none;
    position: absolute;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .forecast-wind .box-container {
    width: 100%;
  }
  .forecast-wind .box-img-title {
    text-align: center;
  }
  .forecast-wind svg {
    width: 60px;
    height: 60px;
  }
  .forecast-wind .box-info {
    font-size: 25px;
  }
  .forecast-wind .box-description {
    display: none;
  }
  .forecast-humidity {
    width: 21vw;
    height: 10vh;
    background: none;
    position: absolute;
    margin-top: 70px;
    right: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .forecast-humidity .box-container {
    width: 100%;
  }
  .forecast-humidity .box-img-title {
    text-align: center;
  }
  .forecast-humidity svg {
    width: 60px;
    height: 60px;
  }
  .forecast-humidity .box-info {
    font-size: 25px;
  }
  .forecast-humidity .box-description {
    display: none;
  }
  .sunrise-sunset {
    height: 36.65vh;
    font-size: 21px;
    margin-right: 4%;
  }
  .sunrise {
    height: 8vh;
    font-size: 24px;
  }
  .sunrise svg {
    width: 70px;
    height: 70px;
  }
  .max {
    width: 17vw;
    font-size: 25px;
    height: 5vh;
  }
  .pressure {
    font-size: 24px;
  }
  .visibility {
    font-size: 24px;
  }
  .precipitation {
    font-size: 24px;
  }
  .left-boxes svg {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  .one-cloud-img {
    font-size: 21px;
  }
  .forecast-options-list {
    margin-left: 265px;
  }
}
@media screen and (max-width: 820px) {
  .forecast-options-list {
    margin-left: 225px;
  }
  .forecast-container {
    height: 1500px;
  }
  .feels-like {
    margin-top: 80px;
  }
  .forecast-wind {
    margin-top: 80px;
  }
  .forecast-humidity {
    margin-top: 80px;
  }

  .forecast-cloud-images {
    height: 18vh;
  }

  .pressure {
    font-size: 21px;
  }

  .visibility {
    font-size: 21px;
  }

  .precipitation {
    font-size: 21px;
  }

  .sunrise-sunset {
    height: 37vh;
  }
}
@media screen and (max-width: 769px) {
  .forecast-options-list {
    margin-left: 205px;
  }
  .forecast-container {
    height: 1260px;
  }
  .feels-like {
    margin-top: 90px;
    font-size: 18px;
  }
  .feels-like .box-info {
    font-size: 23px;
  }
  .forecast-wind {
    margin-top: 90px;
    font-size: 18px;
  }
  .forecast-wind .box-info {
    font-size: 23px;
  }
  .forecast-humidity {
    margin-top: 90px;
    font-size: 18px;
  }
  .forecast-humidity .box-info {
    font-size: 23px;
  }
  .forecast-cloud-images {
    height: 20.5vh;
  }
  .pressure {
    font-size: 20px;
  }
  .visibility {
    font-size: 20px;
  }
  .precipitation {
    font-size: 20px;
  }
  .one-cloud-img {
    font-size: 19px;
  }
  .sunrise-sunset {
    font-size: 20px;
    height: 37.3vh;
  }
  .sunrise {
    font-size: 22px;
  }
  .sunrise svg {
    width: 60px;
    height: 60px;
  }
  .max {
    font-size: 22px;
  }
}
@media screen and (max-width: 540px) {
  .forecast-options-list {
    margin-left: 135px;
    width: 39%;
  }
  .forecast-container {
    height: 840px;
  }
  .forecast-location-details {
    height: 20vw;
    margin-top: -95px;
    font-size: 20px;
    line-height: 25px;
  }
  .forecast-top {
    font-size: 12px;
  }
  .forecast-top h3 {
    font-size: 14px;
  }
  .forecast-top h4 {
    font-size: 19px;
  }
  .forecast-location-details h4 {
    font-size: 40px;
  }
  .forecast-input-button {
    justify-content: center;
    top: -20px;
  }
  .forecast-input-button input {
    width: 100px;
  }
  .forecast-location-details img {
    width: 120px;
    height: 120px;
  }
  .forecast-location-img {
    margin-bottom: 15px;
  }
  .feels-like {
    margin-top: 90px;
    font-size: 12px;
    width: 20vw;
    height: 10vh;
    padding: 15px;
  }
  .feels-like svg {
    width: 35px;
    height: 35px;
  }
  .feels-like .box-info {
    font-size: 17px;
  }
  .forecast-wind {
    margin-top: 90px;
    font-size: 12px;
    width: 20vw;
    height: 10vh;
    padding: 15px;
  }
  .forecast-wind svg {
    width: 35px;
    height: 35px;
  }
  .forecast-wind .box-info {
    font-size: 17px;
  }
  .forecast-humidity {
    margin-top: 90px;
    font-size: 12px;
    width: 20vw;
    height: 10vh;
    padding: 15px;
  }
  .forecast-humidity svg {
    width: 35px;
    height: 35px;
  }
  .forecast-humidity .box-info {
    font-size: 17px;
  }
  .forecast-cloud-images img {
    width: 110px;
    height: 110px;
  }
  .forecast-cloud-images {
    height: 23.5vh;
  }
  .pressure {
    font-size: 14px;
  }
  .pressure svg {
    width: 35px;
    height: 35px;
    margin-right: 4%;
  }
  .visibility {
    font-size: 14px;
  }
  .visibility svg {
    width: 35px;
    height: 35px;
    margin-right: 4%;
  }
  .precipitation {
    font-size: 14px;
  }
  .precipitation svg {
    width: 35px;
    height: 35px;
    margin-right: 4%;
  }
  .one-cloud-img {
    font-size: 15px;
  }
  .sunrise-sunset {
    font-size: 15px;
    height: 38.5vh;
  }
  .sunrise {
    font-size: 17px;
  }
  .sunrise svg {
    width: 40px;
    height: 40px;
  }
  .max {
    font-size: 17px;
  }
}
@media screen and (max-width: 425px) {
  .forecast-options-list {
    margin-left: 94px;
    width: 44%;
  }
  .forecast-container {
    height: 890px;
  }
  .forecast-location-details {
    height: 20vw;
    margin-top: -85px;
    font-size: 18px;
    line-height: 25px;
  }
  .forecast-top {
    font-size: 10px;
  }
  .forecast-top h3 {
    font-size: 12px;
  }
  .forecast-top h4 {
    font-size: 17px;
  }
  .forecast-location-details h4 {
    font-size: 35px;
  }
  .forecast-input-button {
    justify-content: center;
    top: -19px;
  }
  .forecast-input-button input {
    width: 80px;
  }
  .forecast-location-details img {
    width: 120px;
    height: 120px;
  }
  .forecast-location-img {
    margin-bottom: 15px;
  }
  .feels-like {
    margin-top: 110px;
    font-size: 10px;
    width: 22vw;
    height: 9vh;
    padding: 7px;
  }
  .feels-like svg {
    display: none;
  }
  .feels-like .box-container {
    display: flex;
    flex-direction: column;
  }
  .feels-like .box-img-title {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    font-size: 15px;
  }
  .feels-like .box-info {
    font-size: 23px;
    text-align: center;
  }
  .forecast-wind {
    margin-top: 110px;
    font-size: 10px;
    width: 22vw;
    height: 9vh;
    padding: 7px;
  }
  .forecast-wind .box-img-title {
    position: absolute;
    top: 10px;
    left: 0;
    right: 10px;
    font-size: 15px;
  }
  .forecast-wind .box-container {
    display: flex;
    flex-direction: column;
  }
  .forecast-wind svg {
    display: none;
  }
  .forecast-wind .box-info {
    font-size: 23px;
    text-align: center;
  }
  .forecast-humidity {
    margin-top: 110px;
    font-size: 10px;
    width: 22vw;
    height: 9vh;
    padding: 7px;
  }
  .forecast-humidity .box-img-title {
    position: absolute;
    top: 10px;
    left: 0;
    right: 5px;
    font-size: 15px;
  }
  .forecast-humidity .box-container {
    display: flex;
    flex-direction: column;
  }
  .forecast-humidity svg {
    display: none;
  }
  .forecast-humidity .box-info {
    font-size: 23px;
    text-align: center;
  }
  .forecast-cloud-images img {
    width: 110px;
    height: 105px;
  }
  .forecast-cloud-images {
    height: 18vh;
    margin-top: 270px;
  }
  .one-cloud-img {
    font-size: 13px;
  }
  .pressure {
    font-size: 13px;
  }
  .pressure svg {
    display: none;
  }
  .visibility {
    font-size: 13px;
  }
  .visibility svg {
    display: none;
  }
  .precipitation {
    font-size: 13px;
  }
  .precipitation svg {
    display: none;
  }
  .sunrise-sunset {
    font-size: 13px;
    height: 37.8vh;
  }
  .sunrise {
    font-size: 15px;
  }
  .sunrise svg {
    width: 35px;
    height: 35px;
  }
  .max {
    font-size: 15px;
  }
}
@media screen and (max-width: 413px) {
  .forecast-container {
    height: 910px;
  }
  .forecast-options-list {
    margin-left: 92px;
  }
}
@media screen and (max-width: 394px) {
  .forecast-options-list {
    margin-left: 84px;
    width: 47%;
  }
  .forecast-container {
    height: 850px;
  }
  .feels-like {
    margin-top: 115px;
  }
  .forecast-wind {
    margin-top: 115px;
  }
  .forecast-humidity {
    margin-top: 115px;
  }
  .forecast-cloud-images {
    height: 19vh;
    margin-top: 260px;
  }
}
@media screen and (max-width: 391px) {
  .forecast-container {
    height: 840px;
  }
}
@media screen and (max-width: 376px) {
  .forecast-options-list {
    margin-left: 87px;
    width: 43%;
  }
  .forecast-top {
    font-size: 10px;
  }
  .forecast-top h4 {
    font-size: 16px;
  }
  .right-part-search-input {
    max-width: 60px;
  }
  .forecast-input-button {
    margin-top: 43px;
  }
  .forecast-container {
    height: 750px;
  }
  .feels-like {
    margin-top: 120px;
  }
  .forecast-wind {
    margin-top: 120px;
  }
  .forecast-humidity {
    margin-top: 120px;
  }
  .forecast-cloud-images {
    height: 24vh;
    margin-top: 240px;
  }
  .forecast-cloud-images img {
    width: 100px;
    height: 100px;
  }
  .sunrise-sunset {
    height: 39vh;
  }
}
@media screen and (max-width: 376px) {
  .forecast-container {
    height: 850px;
  }
  .forecast-options-list {
    margin-left: 82px;
  }
  .forecast-cloud-images {
    margin-top: 260px;
    height: 23vh;
  }
}
@media screen and (max-width: 376px) and (min-height: 850px) {
  .forecast-container {
    height: 870px;
  }
  .sunrise-sunset {
    height: 38vh;
  }
  .forecast-options-list {
    margin-left: 87px;
  }
}
@media screen and (max-width: 320px) {
  .forecast-top {
    font-size: 9px;
  }
  .forecast-top h4 {
    font-size: 15px;
  }
  .forecast-top h3 {
    font-size: 11px;
  }
  .forecast-options-list {
    margin-left: 79px;
    width: 40%;
  }
  .feels-like .box-img-title {
    font-size: 14px;
  }
  .feels-like .box-info {
    font-size: 18px;
  }
  .feels-like {
    margin-top: 130px;
  }
  .forecast-wind .box-img-title {
    font-size: 14px;
  }
  .forecast-wind .box-info {
    font-size: 18px;
  }
  .forecast-wind {
    margin-top: 130px;
  }
  .forecast-humidity .box-img-title {
    font-size: 14px;
  }
  .forecast-humidity .box-info {
    font-size: 18px;
  }
  .forecast-humidity {
    margin-top: 130px;
  }
  .pressure {
    font-size: 11px;
  }
  .visibility {
    font-size: 11px;
  }
  .precipitation {
    font-size: 11px;
  }
  .sunrise-sunset {
    font-size: 11px;
    height: 38vh;
  }
  .sunrise {
    font-size: 12px;
    width: 75%;
  }
  .sunrise svg {
    width: 28px;
    height: 28px;
  }
  .right-part-search-input {
    max-width: 13vw;
  }
  .right-part-search-button {
    max-width: 13vw;
    font-size: 10px;
  }
  .forecast-input-button {
    margin-top: 38px;
  }
  .forecast-cloud-images {
    height: 17vh;
  }
  .forecast-cloud-images img {
    width: 85px;
    height: 85px;
  }
}
@media screen and (min-width: 2500px) {
  .forecast-cloud-images {
    margin-top: 100px;
    height: 19vh;
  }
  .forecast-cloud-images img {
    width: 160px;
    height: 160px;
  }
  .forecast-location-details {
    height: 29vh;
  }
  .forecast-location-details h4 {
    font-size: 70px;
  }
  .forecast-location-description {
    font-size: 22px;
  }
}
