$text-color: black;

$hover-color: 0px 0px 3px rgb(184, 184, 184);

$light-color: white;

@mixin basic-text {
  font-weight: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem
}

@mixin basic-background {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px rgb(184, 184, 184);
  backdrop-filter: blur(10px);
  border-radius: 1%;
}

@mixin basic-box-background {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px rgb(184, 184, 184);
  backdrop-filter: blur(10px);
  border-radius: 1%;
  width: 130px;
  height: 130px;
}

@mixin box-info-description {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin-left: 5%;
  margin-right: 6%;
  width: 100%;
}