@import 'variables.scss';

* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.app-box {
  @include basic-background;
  color: $text-color;
  display: flex;
  height: 80vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 280px;
}

.title {
  font-weight: 100;
  font-size: 4rem;
}

.title-forecast {
  font-weight: 900;
}

.title-info {
  font-weight: 100;
  font-size: 1.5rem;
}

.app-input {
  margin-top: 10px;
  padding: 6px 8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 0px 0px 1px rgb(184, 184, 184);
  outline: none;
  transition: 0.1s;
}

.app-input:hover {
  box-shadow: $hover-color;
}

.search-button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid rgb(184, 184, 184);
  border-left: none;
  box-shadow: 0px 0px 1px rgb(184, 184, 184);
  padding: 6px 8px;
  background-color: transparent;
  transition: 0.1s;
  cursor: pointer;
}

.search-button:hover {
  box-shadow: $hover-color;
}

.input-container {
  position: relative;
}

.options-list {
  position: absolute;
  background-color: $light-color;
  border-radius: 1%;
  left: 1px;
  right: 1px;
  border-top: none;
  box-shadow: 0px 0px 3px rgb(184, 184, 184);
  list-style-type: none;
}

.one-option {
  @include basic-text;
  cursor: pointer;
  border: none;
  background-color: inherit;
  width: 100%;
  text-align: left;
  margin: 0px 0px;
  padding: 3px 10px;
}

.one-option:hover {
  background-color: rgba(255, 240, 247);
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 3.5rem;
  }
  .title-info {
    font-size: 1.3rem;
  }
  .app-box {
    width: 70vw;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 3rem;
  }
  .title-info {
    font-size: 1.1rem;
  }
  .app-box {
    width: 75vw;
  }
}

@media screen and (max-width: 507px) {
  .title {
    margin-left: 10%;
    margin-right: 22%;
  }
  .title-info {
    margin-left: 10%;
    margin-right: 22%;
  }
  .app-box {
    width: 90vw;
    height: 95vh;
  }
}

.forecast-container {
  @include basic-background;
  display: flex;
  height: 80vh;
  width: 62.5vw;
}

.forecast-top {
  margin: 4%;
}

.forecast-cloud-images {
  display: flex;
  overflow-x: scroll;
  max-width: 42vw;
  margin-left: 4%;
  height: 21vh;
  text-align: center;
}

.forecast-cloud-images img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.boxes-container {
  display: flex;
  gap: 15px;
}

.left-boxes {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 4%;
  margin-top: 20px;
  gap: 15px;
}

.pressure {
  @include basic-background;
  height: 12vh;
  display: flex;
}

.pressure .box-container {
  @include box-container
}

.pressure svg {
  height: 50px;
  width: 50px;
  margin-right: 12px;
}

.pressure .box-info-description {
  margin-left: 40px;
}

.visibility {
  @include basic-background;
  height: 12vh;
  display: flex;
}

.visibility .box-container {
  @include box-container;
}

.visibility svg {
  height: 50px;
  width: 50px;
  margin-right: 12px;
}

.visibility .box-info-description {
  margin-right: 10px;
}

.visibility .box-info-description {
  margin-left: 40px;
}

.precipitation {
  @include basic-background;
  height: 12vh;
  display: flex;
}

.precipitation .box-container {
  @include box-container;
}

.precipitation svg {
  height: 50px;
  width: 50px;
  margin-right: 12px;
}

.precipitation .box-info-description {
  margin-left: 40px;
}

.sunrise-sunset {
  @include basic-background;
  margin-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sunrise-sunset-title {
  margin-top: 15px;
}

.sunrise {
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgb(244, 227, 186);
  width: 80%;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  font-size: 22px;
  color: rgb(41, 132, 222);
}

.sunrise-info {
  color: grey;
}

.sunset-info {
  color: grey;
}

.sunrise svg {
  width: 60px;
  height: 60px;
  color: gold;
}

.sunset {
  @extend .sunrise;
}

.forecast-right-part {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0px 0px 1px rgb(184, 184, 184);
  backdrop-filter: blur(10px);
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 19vw;
}

.forecast-input-button {
  display: flex;
  justify-content: left;
  margin: 10% 8%;
}

.right-part-search-input {
  width: 8vw;
  height: 2.5vh;
}

.forecast-location-right {
  position: absolute;
  margin-top: 10px;
}

.forecast-location-main-temp {
  font-size: 45px;
  margin-top: -30px;
}

.forecast-location-description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}


.forecast-location-img {
  width: 8vw;
  margin-top: 5px;
}

.max-min-temp {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 25px;
}

.right-part-search-button {
  background-color: transparent;
  border: 1px solid black;
  @include basic-background;
}


.box-img-title {
  display: flex;
  align-items: center;
}

.forecast-location-details {
  @include basic-background;
  background-color: rgb(37, 183, 232);
  margin: 0% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 20px;
}

.forecast-wind {
  @include basic-background;
  color: white;
  margin: 7% 8%;
  background-color: rgb(255, 97, 136);
  border-radius: 10px;
  padding: 4%;
}

.forecast-wind .box-container {
  display: flex;
  justify-content: space-between;
}

.forecast-wind svg {
  width: 50px;
  height: 50px;
}

.forecast-wind .box-img-title {
  flex-direction: column;
}

.forecast-wind .box-info-description {
  @include box-info-description;
}


.feels-like {
  @include basic-background;
  margin: 7% 8%;
  color: white;
  background-color: rgb(255, 172, 62);
  border-radius: 10px;
  padding: 4%;
}

.feels-like .box-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.feels-like svg {
  width: 50px;
  height: 50px;
}

.feels-like .box-img-title {
  flex-direction: column;
}

.feels-like .box-info-description {
  @include box-info-description;
}

.forecast-humidity {
  @include basic-background;
  margin: 7% 8%;
  color: white;
  background-color: rgb(255, 172, 62);
  border-radius: 10px;
  padding: 4%;
}

.forecast-humidity .box-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.forecast-humidity svg {
  width: 50px;
  height: 50px;
}

.forecast-humidity .box-img-title {
  flex-direction: column;
}

.forecast-humidity .box-info-description {
  @include box-info-description;
}

.high-low-temp {
  margin-top: 20px;
  margin-bottom: 15px;
}

.max {
  background-color: rgba(234, 227, 150, 0.726);
  width: 8vw;
  height: 7vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black
}

.min {
  background-color: rgb(165, 165, 165);
  @extend .max;
  color: white;
}