@import 'variables.scss';

* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.app-box {
  @include basic-background;
  color: $text-color;
  display: flex;
  height: 80vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 280px;
}

.title {
  font-weight: 100;
  font-size: 4rem;
}

.title-forecast {
  font-weight: 900;
}

.title-info {
  font-weight: 100;
  font-size: 1.5rem;
}

.app-input {
  margin-top: 10px;
  padding: 6px 8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 0px 0px 1px rgb(184, 184, 184);
  outline: none;
  transition: 0.1s;
}

.app-input:hover {
  box-shadow: $hover-color;
}

.search-button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid rgb(184, 184, 184);
  border-left: none;
  box-shadow: 0px 0px 1px rgb(184, 184, 184);
  padding: 6px 8px;
  background-color: transparent;
  transition: 0.1s;
  cursor: pointer;
}

.search-button:hover {
  box-shadow: $hover-color;
}

.input-container {
  position: relative;
}

.options-list {
  position: absolute;
  background-color: $light-color;
  border-radius: 1%;
  left: 1px;
  right: 1px;
  border-top: none;
  box-shadow: 0px 0px 3px rgb(184, 184, 184);
  list-style-type: none;
}

.one-option {
  @include basic-text;
  cursor: pointer;
  border: none;
  background-color: inherit;
  width: 100%;
  text-align: left;
  margin: 0px 0px;
  padding: 3px 10px;
}

.one-option:hover {
  background-color: rgba(255, 240, 247);
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 3.5rem;
  }
  .title-info {
    font-size: 1.3rem;
  }
  .app-box {
    width: 70vw;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 3rem;
  }
  .title-info {
    font-size: 1.1rem;
  }
  .app-box {
    width: 75vw;
  }
}

@media screen and (max-width: 507px) {
  .title {
    margin-left: 10%;
    margin-right: 22%;
  }
  .title-info {
    margin-left: 10%;
    margin-right: 22%;
  }
  .app-box {
    width: 90vw;
    height: 95vh;
  }
}

.forecast-container {
  @include basic-background;
  display: flex;
  height: 80vh;
  width: 62.5vw;
}

.forecast-top {
  margin: 4%;
}

.forecast-cloud-images {
  display: flex;
  overflow-x: scroll;
  max-width: 42vw;
  margin-left: 4%;
}

.boxes-container {
  display: flex;
  gap: 15px;
}

.left-boxes {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 4%;
  margin-top: 20px;
  gap: 15px;
}

.pressure-visibilty {
  @include basic-background;
  height: 21vh;
}

.precipitation {
  @include basic-background;
  height: 21vh;
}

.sunrise-sunset {
  @include basic-background;
  margin-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sunrise-sunset-title {
  margin-top: 15px;
}

.sunrise {
  border-radius: 10px;
  margin-top: 10px;
  background-color: lightgreen;
  width: 85%;
  height: 9vh;
  display: flex;
  flex-direction: column;
}

.sunset {
  @extend .sunrise;
}

.forecast-right-part {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0px 0px 1px rgb(184, 184, 184);
  backdrop-filter: blur(10px);
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 19vw;
}
